#! /usr/bin/make -f

%:
	dh $@

override_dh_autoreconf:

override_dh_auto_configure:
	DH_COMPAT=10 dh_auto_configure -- --enable-shared

override_dh_auto_build:
	dh_auto_build
	dh_auto_build -- prog

override_dh_auto_install:
	dh_auto_install --no-parallel
